body {
  font-family: 'Roboto Condensed';
  width: 100%;
  text-shadow: 0px 0px 3px #000;
}

a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

main {
  width: 800px;
  margin-top: 10vh;
  height: 600px;
}

dl, dd, dt {
  margin: 0;
  padding: 0;
}

.bg-grey {
  background-image: linear-gradient(to right, #555, #888);
  border: 2px solid;
  border-top-color: #aaa;
  border-left-color: #aaa;
  border-bottom-color: #444;
  border-right-color: #444;
  position: relative;
}

.eigth {
  width: 12.5%;
}

.pointer {
  position: relative;
}

.pointer:focus {
  outline: none;
}

.pointer:hover:before,
.pointer:focus:before {
  display: block;
  background-image: url('../images/cursor.png');
  content: '';
  position: absolute;
  height: 24px;
  width: 47px;
  left: -50px;
  top: 30%;
  z-index: 2;
}

.font-play {
  font-family: 'Play', sans-serif;
}

.subheading {
  font-family: 'Play', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: -5px;
  left: 4px;
  background-color: black;
  padding: 0px 2px;
}
