body {
  font-family: 'Roboto Condensed';
  width: 100%;
  text-shadow: 0px 0px 3px #000;
}

a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

main {
  width: 800px;
  margin-top: 10vh;
  height: 600px;
}

dl, dd, dt {
  margin: 0;
  padding: 0;
}

.help-section {
  position: absolute;
  top: 600px;
}

.right-content {
  height: 600px;
}

.right-content.collapsed {
  height: auto;
}

.submenu {
  position: absolute;
  top: 0;
  left: 0;
}

.submenu-header {
  height: 56px;
}

.menu-help {
  height: 64px;
}

.main-menu {
  height: 464px;
  transition: all 0.5s ease;
}

.main-menu.collapsed {
  height: 64px;
}

.main-menu ul li {
  position: relative;
  height: 36px;
}

.non-party-members {
  height: 232px;
}

.gf-list {
  height: 450px;
}

.bg-grey {
  background-image: linear-gradient(to right, #555, #888);
  border: 2px solid;
  border-top-color: #aaa;
  border-left-color: #aaa;
  border-bottom-color: #444;
  border-right-color: #444;
  position: relative;
}

.eigth {
  width: 12.5%;
}

.hidden {
  display: none;
}

.player-stats {
  height: 112px;
  width: 192px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-item {
  position: absolute;
  text-decoration: none;
  color: white;
}

.pointer {
  position: relative;
}

.pointer:focus {
  outline: none;
}

.pointer:hover:before,
.pointer:focus:before {
  display: block;
  background-image: url('../images/cursor.png');
  content: '';
  position: absolute;
  height: 24px;
  width: 47px;
  left: -50px;
  top: 30%;
  z-index: 2;
}

.font-play {
  font-family: 'Play', sans-serif;
}

.subheading {
  font-family: 'Play', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: -5px;
  left: 4px;
  background-color: black;
  padding: 0px 2px;
}
