<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Final Fantasy VIII UI</title>
    <link href="https://fonts.googleapis.com/css?family=Play:700|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/vue.js"></script>
  </head>
  <body class="bg-black white">
    <main id="app" class="center relative" v-on:keydown="handleAppKeydown">

      <aside class="fr w-25 relative right-content" id="main-menu-container">
        <nav class="bg-grey main-menu ml2 mb2" role="menubar" id="main-menu">
          <ul class="list pa2 f2 relative">
            <li v-for="item in mainMenuItems" class="mv1 absolute">
              <a href="#"
                class="menu-item pointer"
                role="menuitem"
                v-bind:id="item.id"
                v-on:click="showMenu"
                v-on:focus="[mainMenuOpen ? menuHelp = item.helpText : menuHelp = menuHelp]"
                v-on:mouseover="[mainMenuOpen ? menuHelp = item.helpText : menuHelp = menuHelp]">
                {{ item.title }}
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <div class="bg-grey relative pa2 f3 player-stats" id="player-stats">
        <ul class="list">
          <li>
            <dl>
              <dt class="pv1 db fl" aria-label="Play time">Play</dt>
              <dd class="pv1 db fr">56:47</dd>
              <dt class="pv1 cb db fl" aria-label="SeeD Rank">SeeD</dt>
              <dd class="pv1 db fr">A</dd>
              <div class="cf"></div>
            </dl>
          </li>
          <li aria-label="Gil" class="fr">82145G</li>
        </ul>
        <div class="cf"></div>
      </div>

      <section class="fl w-75 relative h-100" id="left-content">

        <div class="mb2">
          <header class="bg-grey ph3 menu-help" id="menu-help">
            <h2 class="subheading">Help</h2>
            <h1 class="mb2 mt3" id="menu-title">{{ menuHelp }}</h1>
          </header>
        </div>


        <section class="ml3 f3" id="party">
          <div aria-label="Party members">

            <div v-for="member in partyMembers" class="bg-grey ph3 mr2 mb2">
              <p class="subheading">Status</p>
              <dl class="mt3 mb2 relative">
                <dt class="dib f2 normal w-third">{{ member.name }}</dt>

                <dd class="db fr w-two-thirds f3 mt1">
                  <dl class="db">
                    <div class="db fl ph2 w-third">
                      <dt class="db fl" aria-label="Level">Lv</dt>
                      <dd class="db fr">{{ member.level }}</dd>
                    </div>
                    <div class="db fl ph2 w-two-thirds">
                      <dt class="db fl" aria-label="Hit Points">HP</dt>
                      <dd class="db fr">{{ member.stats.hp.value }}/{{ member.stats.hp.value }}</dd>
                    </div>
                  </dl>
                </dd>
              </dl>
            </div>

          </div>

          <div class="list bg-grey pa3 pb5 mr2 mb2 non-party-members" aria-label="Non-party members" class="bg-grey">

            <div v-for="member in nonPartyMembers" class="db mb2 fl w-50">
              <dl>
                <dt class="normal mv0">{{ member.name }}</dt>
                <dd>
                  <dl>
                    <dt class="dib" aria-label="Level">Lv</dt>
                    <dd class="dib">{{ member.level }}</dd>
                    <dt class="dib" aria-label="Hit Points">HP</dt>
                    <dd class="dib">{{ member.hp }}/{{ member.hp }}</dd>
                  </dl>
                </dd>
              </dl>
            </div>

            <div class="cf"></div>

          </div>
        </section>

        <p aria-label="Location" class="bg-grey f2 ph2 pv3" id="location">B-Garden- Hall</p>

      </section>

      <div class="cf"></div>

      <aside class="mt2 pa3 help-section">
        <h2 class="f3 b mb3">Help</h2>
        <p class="measure">You can navigate the menus with the keyboard by tabbing or with the mouse. To exit out of the current menu press the escape key. While in the junction menu you can cycle through party members with the arrow keys.</p>
      </aside>

      <section class="gf-menu submenu dn fl h-100 w-100" id="gf-menu">

        <header class="w-75 mb2" id="gf-submenu-header">
          <div class="bg-grey ph3 mt2 submenu-header">
            <p class="mb2 mt3" id="gf-menu-title">&nbsp;</p>
          </div>
        </header>

        <div class="w-100">
          <div class="menu-help bg-grey ph3 mh3">
            <h2 class="subheading">Help</h2>
            <h3 class="mb2 mt3 f2" id="gf-menu-title">{{ menuHelp }}</h3>
          </div>
        </div>

        <section class="mt2 bg-grey gf-list pa3" id="gf-list">
          <h2 class="subheading">GF</h2>
          <ul>
            <li class="db fl eigth pa2" v-for="gf in gfs">
              <a href="#" class="db gf-portrait relative pointer"
                v-bind:title="gf.name"
                v-on:focus="menuHelp = gf.help"
                v-on:mouseover="menuHelp = gf.help">
                <img class="w-100" v-bind:src="gf.image" v-bind:alt="gf.name">
              </a>
              <p class="f3 b pt1 pb3 font-play">
                <span class="db fl" aria-label="Level">Lv</span>
                <span class="db fr">{{ gf.level }}</span>
                <span class="cf"></span>
              </p>
            </li>
            <div class="cf"></div>
          </ul>
        </section>
      </section>

      <section class="junction-menu submenu dn fl h-100 w-100" id="junction-menu">

        <header class="w-75 mb2" id="junction-submenu-header">
          <nav class="bg-grey ph3 mt2 submenu-header">
            <ul class="f2 mt2">
              <li v-for="item in junctionMenuItems" class="db fl mh3">
                <a href="#"
                  class="db white link pointer"
                  role="menuitem"
                  v-bind:id="item.id"
                  v-on:focus="[menuHelp = item.helpText]"
                  v-on:mouseover="[menuHelp = item.helpText]">
                  {{ item.title }}
                </a>
              </li>
            </ul>
          </nav>
        </header>

        <section class="w-100 ph3">
          <div class="menu-help bg-grey ph3" id="junction-menu-help">
            <h2 class="subheading">Help</h2>
            <h3 class="mb2 mt3 f2" id="junction-menu-title">{{ menuHelp }}</h3>
          </div>
        </section>

        <section class="w-100 h-100 relative mt3 overflow-hidden" id="junction-menu-container">

          <article class="junction-character"
            v-for="(character, index) in partyMembers"
            v-bind:class="character.className"
            v-bind:id="character.id">

            <div class="w-100 ph3">
              <div class="w-50 db fl f2 profile">
                <img class="fl h4 mr3"
                  v-bind:src="character.image"
                  v-bind:alt="character.name">

                <h2 class="mb2">{{ character.name }}</h2>
                <dl>
                  <div class="mb2">
                    <dt class="dib">Level</dt>
                    <dd class="db fr tr">{{ character.level }}</dd>
                  </div>
                  <div class="mb2">
                    <dt class="dib">HP</dt>
                    <dd class="db fr tr">{{ character.stats.hp.value }} / {{ character.stats.hp.value }}</dd>
                  </div>
                </dl>
                <dl>
                  <div>
                    <dt class="dib">Current EXP</dt>
                    <dd class="db fr tr font-play">99000p</dd>
                  </div>
                  <div>
                    <dt class="dib">Next level</dt>
                    <dd class="db fr tr font-play">0p</dd>
                  </div>
                </dl>
              </div>

              <div class="w-25 fr bg-grey ph3 pb3">
                <h2 class="subheading">Command</h2>
                <ul class="mt3 f2" aria-label="Skills">
                  <li v-for="skill in character.skills">
                    {{ skill }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="cf"></div>

            <div class="stats drop-shadow bg-grey mt3 pv2 ph4 w-100 cb f2">
              <dl>
                <div class="w-50 fl pr2">
                  <div class="mb1"
                    v-for="stat in stats1">
                    <dt class="db fl"
                      v-bind:title="stat.help"
                      v-bind:aria-label="stat.verboseName">
                      {{ stat.name }}</dt>
                    <dd class="db fr w-75">
                      <ul>
                        <li class="db fl w-two-thirds">{{ character.stats[stat.id].magic }}</li>
                        <li class="db fr w-third tr">{{ character.stats[stat.id].value }}</li>
                      </ul>
                    </dd>
                    <div class="cf"></div>
                  </div>
                </div>

                <div class="w-50 fl pl2">
                  <div>&nbsp;</div>
                  <div class="mb1"
                    v-bind:class="[character.stats[stat.id].unlocked ? '' : 'locked']"
                    v-for="stat in stats2">
                    <dt class="db fl stat-name"
                      v-bind:title="stat.help"
                      v-bind:aria-label="stat.verboseName">
                      {{ stat.name }}</dt>
                    <dd class="db fr w-75">
                      <ul>
                        <li v-if="!character.stats[stat.id].unlocked" class="db fl w-two-thirds stat-unjunctioned">______</li>
                        <li v-else class="db fl w-two-thirds stat-junctioned">{{ character.stats[stat.id].magic }}</li>
                        <li class="db fr w-third tr stat-value">{{ character.stats[stat.id].value }}</li>
                      </ul>
                    </dd>
                    <div class="cf"></div>
                  </div>
                </div>
                <div class="cf"></div>
              </dl>
            </div>

          </article>

        </section>

      </section>

    </main>
    <script src="js/data.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
